<footer class="site-footer">
    <div class="wrapper">
    	<div class="row">
    		<div class="col-xs-12">
    			<a href="https://library.princeton.edu"><img src="{{ "/assets/images/pul_new.svg" | relative_url }}" alt="Princeton University Library logo"></a>
    			<a href="https://princeton.edu"><img src="{{ "/assets/images/pu.svg" | relative_url }}" alt="Princeton University logo"></a><br>
    			<small>&copy; <script>document.write(new Date().getFullYear())</script> The Trustees of <a href="https://princeton.edu">Princeton University</a>. All rights reserved.</small>
    		</div>
    	</div>
    </div>
</footer>

<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>