* {
    box-sizing: border-box;
}

body {
	background-color: #FDFDFD;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya SC', serif;
}

p {
	font-family: 'Alegreya', serif;
}

.wrapper {
    box-sizing: border-box;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1400px;
}

.page-heading,
.post-title {
	margin: 0;
}