* {
    box-sizing: border-box;
}

body {
	background-color: #FDFDFD;
	display: flex;
	flex-direction: column;
	font-family: 'Alegreya', serif;
	min-height: 100vh;
}

main {
	flex: 1;
	padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya SC', serif;
}

.post-content h2:first-of-type,
h2 + h3 {
	margin-top: 0;
}

p {
	font-family: 'Alegreya', serif;
}

.wrapper {
    box-sizing: border-box;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1400px;
}

.page-heading,
.post-title {
	margin: 0;
}
