footer {
	clear: both;
	margin-top: 2rem;
	padding: 1.5rem 0;
	background: $menu-bg-color;
	text-align: center;

	small {
		font-size: 0.65rem;
	}

	img {
		height: 45px;
		vertical-align: top;
		margin: 0 1rem 1rem;
	}
}