@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

$menu-color: #494f57;
$menu-bg-color: #f5f4f1;
$menu-border-color: #e8e6df;
$menu-hover-color: #9b3111;