--- 
# Only the main Sass file needs front matter (the dashes are enough) 
---

@import "../partials/normalize";
@import "../partials/typebase";

@import "../partials/utils";
@import "../partials/base";

@import "../partials/blockquote";
@import "../partials/description";
@import "../partials/dropcap";
@import "../partials/header";
@import "../partials/horizontalrule";
@import "../partials/images";
@import "../partials/navigation";